
.featureItemsContainer{
    margin-top: 50px;
}
.featureItems{
    margin-bottom: 30px;
}
.feturesIcon{
    position: relative;
}
.feturesIcon a{
    position: absolute;
    top: 41px;
    left: 48px;
    font-size: 50px;
    color: #fff;
}

.featureItems:nth-child(2){
    margin-left: 50px;
}