.bG{
    position: relative;
    height: 300px;
    background: #F7F7FF;
    z-index: 2;
    display: flex;
    align-items: center;
}
.bG:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-image: url(../../images/testmonialBg.png);
    /* background-repeat: no-repeat; */
    /* filter: blue(100%); */
    opacity: .2;
    z-index: -1;
}

.moreInner{
}

.moreBtn{
    text-align: right;
}