.project{
    display: flex;
    align-items: center;
    background: #F3F0FF;
    height: 60px;
    border-radius: 30px;
}
.project li{
    width: 180px;
    text-align:center
}

.active{
    background: #896EFF;
    border-radius: 22px 22px 22px 22px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
}
